body {
    margin: 0;
    padding: 0;
}

/* NAVBAR */
.navbar {
    background-color: #333;
    overflow: hidden;
}

.navbar .link {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar .link:hover {
    background-color: #555;
}


/* LIST ITEM */
.list-item {
    background-color: #ffffff;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative; /* Added for positioning the delete link */
}

.list-item-header {
    display: flex;
    align-items: center;
}

.list-item-name {
    margin: 0;
    font-size: 18px;
    color: #333333;
    margin-right: 10px;
}

.list-item-date {
    margin: 0;
    font-size: 14px;
    color: #777777;
}