body {
    margin: 0;
    padding: 0;
}

/* NAVBAR */
.navbar {
    background-color: #333;
    overflow: hidden;
    font-family: Helvetica;
}

.navbar .link {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar .link:hover {
    background-color: #555;
}

/* LIST ITEM */
.list-item {
    background-color: #ffffff;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    /* Added for positioning the delete link */
}

.list-item-header {
    display: flex;
    align-items: center;
}

.list-item-name {
    margin: 0;
    font-size: 18px;
    color: #333333;
    margin-right: 10px;
}

.list-item-date {
    margin: 0;
    font-size: 14px;
    color: #777777;
}

.login-page {
    background-color: #fff;
    border-radius: 8px;
    display: flex;
    overflow: hidden;
    width: 800px; /* Adjust the width as needed */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    font-family: Helvetica;

    .login h3, .register h3{
        text-align: center;
    }
}

.login, .register{
    flex: 1;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    label {
        padding-bottom: 10px;
    }
}

.login-page button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
}

.login-page button:hover {
    background-color: #0056b3;
}